@model Payment

@{
    ViewData["Title"] = "Delete Payment";
}

<div class="card mx-auto" style="max-width: 1200px; margin-top: 100px;border: 1px solid #000">

    <form asp-controller="Payment" asp-action="Delete">

        <div class="card-header text-center">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" />

            <div asp-validation-summary="All" class="text-danger"></div>
            <table align="center" style="width:100%">
                <tr>
                    <td><b>Title:</b></td>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <td><b>Description:</b></td>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <td><b>Payment Type:</b></td>
                    <td>@Html.DisplayFor(model => model.PaymentType)</td>
                </tr>
                <tr>
                    <td><b>Cost Center:</b></td>
                    <td>@Html.DisplayFor(model => model.CostCenter)</td>
                </tr>
                <tr>
                    <td><b>Payment Date:</b></td>
                    <td>@Html.DisplayFor(model => model.PaymentDate)</td>
                </tr>
                <tr>
                    <td><b>Base Salary Value:</b></td>
                    <td>@Html.DisplayFor(model => model.BaseSalaryValue)</td>
                </tr>
                <tr>
                    <td><b>Insurance Value:</b></td>
                    <td>@Html.DisplayFor(model => model.InsuranceValue)</td>
                </tr>
                <tr>
                    <td><b>Meal Value:</b></td>
                    <td>@Html.DisplayFor(model => model.MealValue)</td>
                </tr>
                <tr>
                    <td><b>Displacement Value:</b></td>
                    <td>@Html.DisplayFor(model => model.DisplacementValue)</td>
                </tr>
                <tr>
                    <td><b>Total Liquid:</b></td>
                    <td>@Html.DisplayFor(model => model.TotalLiquid)</td>
                </tr>
                <tr>
                    <td><b>Monthly IRS Value:</b></td>
                    <td>@Html.DisplayFor(model => model.MonthlyIRSValue)</td>
                </tr>
                <tr>
                    <td><b>Social Security Value:</b></td>
                    <td>@Html.DisplayFor(model => model.SocialSecurityValue)</td>
                </tr>
                <tr>
                    <td><b>Total:</b></td>
                    <td>@Html.DisplayFor(model => model.Total)</td>
                </tr>
                <tr>
                    <td><b>Active:</b></td>
                    <td>@Html.DisplayFor(model => model.Active)</td>
                </tr>
            </table>
        </div>

        <div class="card-footer text-center">
            <input type="submit" value="Delete" class="btn btn-danger" style="width:120px">
            <a asp-controller="Payment" asp-action="Index" class="btn btn-outline-secondary" style="width:120px">Cancel</a>
        </div>
    </form>


</div>


@*@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@